<div class="passengerDashboard">
    <div class="header">
        
        <nav class="navbar navbar-dark" style="background-color: #19aa8d;">
            <h4>Hi {{passengerName | titlecase}}</h4>
            <section class="nav">
            <a class="navbar-brand" [routerLink]="'/passenger'">Home</a>
            <a class="navbar-brand" [routerLink]="'/passenger/bookingHistory'">Booking History</a>
            <a class="navbar-brand" (click)="logout()">Logout</a>
            </section>
          </nav>
    </div>
    <div>
       <router-outlet></router-outlet> 
    </div>
</div>