<div class="container main">
    <div class="search form-group">
        <h5>Search Flight</h5>
        <form [formGroup]="searchForm" (ngSubmit)="search()">
            <div class="input-group">
                <input type="text" formControlName="source" class="form-control" placeholder="Source" required="required">
                <input type="text" formControlName="destination" class="form-control" placeholder="Destination" required="required">
                <button class="btn" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="allFlights container">
        <div class="row" *ngFor="let flight of searchResult">
            <div class="col">
                <h5>{{flight.flightId}}</h5>
                <small>{{flight.name}}</small>
            </div>
            <div class="col">
                <small>{{flight.source | uppercase}}</small><br />
                <small>{{flight.destination | uppercase}}</small>
            </div>
            <div class="col">
                <small>{{flight.departureTime}} - {{flight.arrivalTime}}</small>
            </div>
            <div class="col">
                <h5>{{flight.businessPrice|currency:'INR'}}</h5>
                <small>Bussiness</small>
            </div>
            <div class="col">
                <h5>{{flight.economyPrice|currency:"INR"}}</h5>
                <small>Economy</small>
            </div>
            <div class="col button">
                <button class="btn" on-click="book(flight.flightId)">Book</button>
            </div>
        </div>
    </div>
</div>